.SearchBar {
	padding: calc(60px / 4) 10%;
	border-radius: 6px;
	margin: 0px;

	& .form-group {
		margin: 0px;
	}

	& .btn {
		height: 38px;
	}

	& .dropdown-menu {
		z-index: 2000;
	}

	& .glyphicon {
		line-height: 42px;
		font-size: 26px;
		cursor: pointer;
	}
}
